@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root{
  --primary-white:#fff;
  --primary-dark: rgba(255,255,255,0);
  --primary-black: #000;
  --primary-v: #610f70;
  --primary-blue: #0000FF;
  --primary-purple: #4B29CB;
  --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
}
body{
  font-family: 'Outfit', sans-serif;
}
#navbar-top1{
  height: 4.5rem;
}
.navbar-nav > .nav-link{
  /* color: var(--primary-white) !important; */
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  /* border-top: 0.18rem solid var(--primary-white); */
}
#nav-con-btn{
  margin-bottom:0.5rem;
}
.nav-item{
    text-color:black;
    font-weight:500;
    font-size:10px;
}
nav .nav-link{
  letter-spacing: .03rem;
  cursor: pointer;
}
.nav-link{
  /* color: var(--primary-white) !important; */
 margin-left: 0.7rem;
  margin-right: 0.7rem;

  /* border-top: 0.18rem solid var(--primary-white); */
}
.nav-item{
  font-weight: bold;
  font-size: 2rem;
}
/* .navbar-nav > a.active , .navbar-nav>  .nav-link:focus{
  

  border-bottom: 0.18rem solid var(--primary-purple);
} */
body{
  font-family: "mulish" "san-serif";
}
a { 
  text-decoration: none; 
}


/**************NAVBAR***************/
.logo{
  width:2.5rem;
  height:2.5rem;
}
#nav-items-fin{
  margin-left:20.5rem;
}
.acmnavlogo{
  width: 2.0rem;
  height: 2.0rem;
}
/* #Nav-midlle-items:focus{
  border-bottom: 0.18rem solid var(--primary-blue);
} */
#responsive-navbar-nav{
 justify-content: flex-end;
}
#nav-btn{
  /* justify-items: flex-end; */
  float:right;
}

/* ********* Home *********** */

#header{
  width: 100%;
  height: 80vh;
  margin-top: 100px;
}

/* .btn-contactMe {
  width: 10rem;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: var(--primary-v);
  border: 2px solid var(--primary-v);
  text-decoration: none;
} */

/* .btn-contactMe:hover {
  background: #610f70;
  color: #fff;
} */

.header-img{
  text-align: center;
  width: 100%;
}
.con-tact{
  text-align: center;
}
.animated {
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* *************** Typed *************** */
.typed{
  font-weight: bold;
  font-size: 2.5rem;
  color: #000;
}
#ani-home-img{
  margin-top:3.5rem;
}
/* **********SKILL************* */
#skill{
  margin-top:4.5rem;
}
/* **************PROJECT************* */
.Project{
  margin-top:7.5rem;
}

.btn-repo {
  margin-right: 5rem;
  width: 5rem;
  font-weight: 500;
  font-size: 13px;
  /* letter-spacing: .5px; */
  display: inline-block;
  padding: 7px 20px;
  border-radius: 50px;
  transition: 0.5s;
  color: #000;
  border: 2px solid var(#000);
  text-decoration: none;
}

.btn-repo:hover {
  background: #000;
  color: #fff;
}
/*******************SKILL**************/
#skill-main{
  margin-top:8.5rem;
}